<!DOCTYPE html>
<html>
    <head>
        <title>Weather</title>
        <link rel="icon" href="../../public/assets/images/weather.png">
        <link rel="stylesheet" href="assets/css/style.css">
        <script src="assets/js/main.js"></script>
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>This site was created by Sooraj.It uses data from mapbox and darksky.net</p>
            <img class="portrait-img" src= "{{imgSRC}}"/>
        </div>
        {{>footer}}
    </body>
</html>